# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=stock-ticks

# Producer
PRODUCE_INTERVAL_MS=1
METRICS_PORT=8000
LOG_LEVEL=INFO

# Consumer
KAFKA_GROUP_ID=stock-consumer-group
BATCH_SIZE=500
BATCH_TIMEOUT_MS=1000

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=stockdata
POSTGRES_USER=stockuser
POSTGRES_PASSWORD=stockpass123
